<div>
    <a class="nav-link"  (click)="onOpenModal(null, 'add')" align="right" ><button class="btn btn-danger tooltips">  Add User</button> <!-- <span class="sr-only">(current)</span>--></a>
 </div>
   <div class="container" id="main-container">
   <div class="row">
     <div *ngFor="let user of users" class="col-md-6 col-xl-4">
        <div class="card m-b-30">
           <div class="card-body row">
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Name:</strong>  {{user?.nom}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Prenom</strong>  {{user?.prenom}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Email:</strong> {{user?.username}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>date Naissance</strong> {{user?.dateNaissance}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Password:</strong> {{user?.password}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Role:</strong> {{user?.role}}</li>
           </ul>
           <div class="card-body" >
              <div class="float-right btn-group btn-group-sm"  >
                 <a     class="btn btn-danger tooltips" (click)="onOpenModal(user, 'edit')"  data-placement="top" data-original-title="Edit">Edit<i class="fa fa-pencil"></i> </a>
                 <a     (click)="onOpenModal(user, 'delete')" class="btn btn-dark tooltips" data-placement="top" data-original-title="Delete">Delete<i class="fa fa-times"></i></a>
              </div>
           </div>
        </div>
     </div>
   </div>
   <!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
            <div class="form-group">
               <label for="name">Nom</label>
               <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom" required>
            </div>
            <div class="form-group">
               <label for="prenom">Prenom</label>
               <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="prenom" required>
            </div>
            <div class="form-group">
               <label for="username">Username</label>
               <input type="text" ngModel name="username" class="form-control" id="username" placeholder="username" required>
            </div>
            
            <div class="form-group">
               <label for="dateNaissance">Date de Naissance</label>
               <input type="text" ngModel name="dateNaissance" class="form-control" id="dateNaissance" placeholder="date de Naissance" required>
            </div>
            
            <div class="form-group">
               <label for="password">Password</label>
               <input type="text" ngModel name="password" class="form-control" id="password" placeholder="password" required>
            </div>
            
            <div class="form-group">
               <label for="role">Role</label>
               <input type="text" ngModel name="role" class="form-control" id="role" placeholder="role" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
       <!-- Edit User -->
  <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateUserModalLabel">Edit User {{editUser?.nom}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" ngModel="{{editUser?.nom}}" name="nom" class="form-control" id="nom"  placeholder="Nom">
               </div>
               <div class="form-group">
                  <label for="prenom">Prenom</label>
                  <input type="text" ngModel="{{editUser?.prenom}}" name="prenom" class="form-control" id="prenom"  placeholder="prenom">
               </div>
               
               <div class="form-group">
                  <label for="username">Email Address</label>
                  <input type="email" ngModel="{{editUser?.username}}" name="username" class="form-control" id="username" placeholder="username">
               </div>
               <div class="form-group">
                  <label for="prenom">Phone</label>
                  <input type="text" ngModel="{{editUser?.prenom}}" name="prenom" class="form-control" id="prenom" placeholder="prenom">
               </div>
  
              <div class="form-group">
                 <label for="password">Password</label>
                 <input type="text" ngModel="{{editUser?.password}}" name="password" class="form-control" id="password" placeholder="password">
              </div>
              <div class="form-group">
                 <label for="dateNaissance">Date de naissance</label>
                 <input type="number" ngModel="{{editUser?.dateNaissance}}" name="dateNaissance" class="form-control" id="dateNaissance" placeholder="id">
              </div>
              <div class="form-group">
                 <label for="role">Role</label>
                 <input type="number" ngModel="{{editUser?.role}}" name="id" class="form-control" id="role" placeholder="role">
              </div>
              
             
               
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>
     <!-- Delete Modal -->
     <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete User{{deleteUser?.nom}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteUser(deleteUser?.username)" class="btn btn-danger" data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
    </div>
    </div>
  
