<div>
    <a class="nav-link"  (click)="onOpenModal(null, 'add')" align="right">Add User <span class="sr-only">(current)</span></a>
 </div>
   <div class="container" id="main-container">
   <div class="row">
     <div *ngFor="let user of users" class="col-md-6 col-xl-4">
        <div class="card m-b-30">
           <div class="card-body row">
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Name:</strong>  {{user?.nom}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Id:</strong>  {{user?.id}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Email:</strong> {{user?.username}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Phone:</strong> {{user?.phone}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Password:</strong> {{user?.password}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Role:</strong> {{user?.role}}</li>
           </ul>
           <div class="card-body" >
              <div class="float-right btn-group btn-group-sm"  >
                 <a     class="btn btn-primary tooltips" (click)="onOpenModal(user, 'edit')"  data-placement="top" data-original-title="Edit">Edit<i class="fa fa-pencil"></i> </a>
                 <a     (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete">Delete<i class="fa fa-times"></i></a>
              </div>
           </div>
        </div>
     </div>
   </div>
   <!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
            <div class="form-group">
               <label for="name">Nom</label>
               <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom" required>
            </div>
            <div class="form-group">
               <label for="username">Username</label>
               <input type="text" ngModel name="username" class="form-control" id="username" placeholder="username" required>
            </div>
            
            <div class="form-group">
               <label for="phone">Phone</label>
               <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>
            
            <div class="form-group">
               <label for="password">Password</label>
               <input type="text" ngModel name="Password" class="form-control" id="Password" placeholder="password" required>
            </div>
            <div class="form-group">
               <label for="id">Id</label>
               <input type="number" ngModel name="id" class="form-control" id="id" placeholder="id" required>
            </div>
            <div class="form-group">
               <label for="role">Role</label>
               <input type="text" ngModel name="role" class="form-control" id="role" placeholder="role" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <p>Are you sure you want to delete User{{deleteUser?.username}}?</p>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteUser(deleteUser?.username)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                 </div>
              </div>
           </div>
        </div>
      </div>
      </div>
    
  